{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1 class="my-4">{% trans "Users" %}</h1>

  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% trans "Username" %}</th>
        <th scope="col">{% trans "Full name" %}</th>
        <th scope="col">{% trans "Created at" %}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a class="link-primary d-block mb-1" href="{% url 'user_update' user.pk %}">{% trans "Edit" %}</a>
            <a class="link-primary" href="{% url 'user_delete' user.pk %}">{% trans "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}